<!--
TODO:

-search for songs
    -start with a input box and add button
    -update:
        -dataTable showing all results
        -allow user to select multiply 

-->
<html>
    <head>
        <script src="jquery/jquery.js"></script>
        <script src="htdocs/js/grooveshark.js"></script>
    </head>
    <body>
         <div id='aControl'>Admin Controls</div>
         <button type="button" id="play">Play (no used)</button>
         <button type="button" id="pause">Pause (not used)</button>
         <button type="button" id="skip">Skip (not used)</button>

         <div id='sControl'>Standard Controls</div>
         <button type="button" id="upSong">upboat (not used)</button>
         <button type="button" id="downSong">downboat (not used)</button>
    </body>
</html>
