body {
    background-color: #3B3B3B;
}

.dataContainer {
    background-color: white;
    padding-top: 15px;
}

.spacer {
    margin-top: 15px;
}

.li_searchBox {
    margin-top: 8px;
    max-width: 900px;
}
